In [5]:
#Iterate 0 to 10 using for loop, do the same using while loop.
sum=0
for num in range(11):
    print(num)

0
1
2
3
4
5
6
7
8
9
10

In [18]:
i = 0
while (i < 11):
    print  ("The i is:" ,i)
    i= i+ 1

The i is: 0
The i is: 1
The i is: 2
The i is: 3
The i is: 4
The i is: 5
The i is: 6
The i is: 7
The i is: 8
The i is: 9
The i is: 10

In [68]:
#Iterate 10 to 0 using for loop, do the same using while loop.
sum=10
num=(11,10,9,8,7,6,5,4,3,2,1)
for sum in num:
    sum=sum-1
    if sum ==0:
        break
    else:
        print(sum)

10
9
8
7
6
5
4
3
2
1

In [53]:
i =11
while (i >0):
    i= i- 1
    print  ("The i is:" ,i)

The i is: 10
The i is: 9
The i is: 8
The i is: 7
The i is: 6
The i is: 5
The i is: 4
The i is: 3
The i is: 2
The i is: 1
The i is: 0

In [77]:
#Write a loop that makes seven calls to print()
rows = 8
for i in range(1, rows + 1):
            print("#######", end=" ")
            print('')

#######
#######
#######
#######
#######
#######
#######
#######

In [83]:
#Use nested loops to create the following
rows = 7
for i in range(1, rows + 1):       
    for j in range(7-i):  
        print(" ", end=" ")
    for j in range(1, 2*i):   
        print("#", end=" ")
    print('\n')

            #

          # # #

        # # # # #

      # # # # # # #

    # # # # # # # # #

  # # # # # # # # # # #

# # # # # # # # # # # # #

In [89]:
#Print the following pattern using loops

digits1 = [0,1,2,3,4,5,6,7,8,9,10]
digits2 = [0,1,2,3,4,5,6,7,8,9,10]
for i in digits1:
    for j in digits2:
        if i != j:
            continue
        print(i, '*', j, '= ', i * j)

0 * 0 =  0
1 * 1 =  1
2 * 2 =  4
3 * 3 =  9
4 * 4 =  16
5 * 5 =  25
6 * 6 =  36
7 * 7 =  49
8 * 8 =  64
9 * 9 =  81
10 * 10 =  100

In [91]:
#Iterate through the list, ['Python', 'Numpy','Pandas','Scikit', 'Pytorch'] using a for loop and print out the items.
list=['Python', 'Numpy','Pandas','Scikit', 'Pytorch']
for key in list:
    print(key)

Python
Numpy
Pandas
Scikit
Pytorch

In [106]:
#Use for loop to iterate from 0 to 100 and print only even numbers
i=0
for i in range(0,101):         
        i=i+1
        if i%2 !=1:            
            print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [105]:
#Use for loop to iterate from 0 to 100 and print only odd numbers
i=0
for i in range(0,101):         
        i=i+1
        if i%2 ==1:            
            print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101

In [125]:
#use for loop to iterate from 0 to 100 and print the sum of all numbers.
#The sum of all numbers is 5050.
sum=0
for i in range(0,101):         
       sum+=i
print("The total number is:",sum)

The total number is: 5050

In [130]:
#Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.
#The sum of all evens is 2550. And the sum of all odds is 2500.
sum_even=0
sum_odd=0
for i in range(0,100):
        i=i+1
        if i%2 ==1:            
            sum_even+=i
        else:
            sum_odd+=i
print("sum_even:",sum_even)    
print("sum_odd:",sum_odd)

sum_even: 2500
sum_odd: 2550

In [1]:
#Go to the data folder and use the countries.py file. Loop through the countries and extract all the countries containing the word land.
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
];
target = "land"
for word in countries:
    if target in word:
        print(word)

Finland
Iceland
Ireland
Marshall Islands
Netherlands
New Zealand
Poland
Solomon Islands
Swaziland
Switzerland
Thailand

In [131]:
#This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop.
list1 = ['banana', 'orange', 'mango', 'lemon']
for num in reversed(list1):
    print(num)

lemon
mango
orange
banana